JWT_SECRET=example
JOB_API_EMAIL=example
JOB_API_PASSWORD=example
BASE_URL_API=example
GEMINI_API_KEY=example
CLIENT_ID=examplem
CLEANT_SECRET=example
DATABASE_URL=example
NODE_ENV=example
PORT=examole